<div class="topnav">
<!--   <section id='logo'>
    <a class="active" href="/clubs"><img src="/img/logoFlaticon.png"></a>
  </section> -->
  <section id='menu'>
    <a class="active" href="/clubs"><img src="/img/logoFlaticon.png"></a>
<!--     <a class="active" href="/clubs"><img src="/img/bookclub-home.png"></a> -->
    <a href="/clubs/myclubs"><img src="/img/teamworkFlaticon.png"></a>
    <a href="/logout"><img src="/img/logoutFlaticon.png"></a>
  <section>
</div>