<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read & Talk</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <%- include('partials/nav.ejs') -%>
  <form action='/createClub/createClub' method='POST'>
    <input type='text' placeholder="Enter Club Name" name='name'>
    <input type='text' placeholder='Enter book club is reading' name='book'>
    <input type='text' placeholder='Enter description' name='description'>
    <input type='text' placeholder='Enter isbn' name='isbn'>
    <input type='submit'>
  </form>
</body>
</html>