<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read & Talk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="page-main">
      <section class="title-main">
        <span class="header-main" >Welcome!</span>
        <h4 class="sub-main" >Join a book club:</h4>
      </section>
      <section class="buttons-main btn">
        <a class="button-main btn" href="/login"> Login</a>
        <a class="button-main btn" href="/signup"> Signup</a> 
      </section>
      <section id="quotes">
        <p id="quote-txt"></p>
        <p id="quote-author"></p>
      </section>
    </section>
    <script src='js/quotes.js'></script>
</body>
</html>