<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read & Talk - Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="page-main page-login">
      <a class="btn-x btn" href="/">x</a>  
      
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
      <% } %>
      <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
      <% } %>
      <form class='form-login' action="/login" method="POST">
        <section class='inputs-main'>
          <input class='input-main' type="email" name="email" placeholder="Email">
          <input class='input-main' type="password" name="password" placeholder="Password">
        </section>
        <input class='button-main btn' type="submit">
      </form>
    </section>
</body>
</html>